

{% extends 'ext.html' %}
{% block content %}
<body style="background: black;">
  

    <div class="jumbotron p-3"  ><hr style="color: plum;">
        <div class="well text-center">
            <h2 style="font-family: monospace; font-weight: bold; color: rgb(12, 90, 192);text-transform: capitalize;
     "><img src="https://bit.ly/3vlMU3G" alt="end" style="width: 50px; border-radius: 22px; "> PREMA GROUP TUITIONS</h2>
        </div><hr style="color: rgb(219, 154, 175);">
    <!-- </div  class='container'> -->
    <div class="container">
        <div class="row">
            <div class="jumbotron p-3">
                <h2 style="color: wheat;"><b>STUDENT DATA</b> </h2>
            </div>
        </div>
    <div>
        <table class="table table-bordered table-dark">
            <thead>
              <tr>
                <th scope="col">Srno</th>
                <th scope="col">NAME</th>
                <th scope="col">STD</th>
                <th scope="col">DATE</th>
                <th scope="col">ACTION</th>
              </tr>
            </thead>
            <tbody>
              {% for table in all_data %}
              <tr>
                <th scope="row">{{loop.index}}</th>
                <td>{{table.name}}</td>
                <td>{{table.std}}</td>
                <td>{{table.dat_}}</td>
                <td>
                  <a href="/Up/{{table.srno}}" type="button"  class="btn btn-outline-success btn-sm mx-2 my-1">  View  </button>
                  <a href="/del/{{table.srno}}" type="button" class="btn btn-outline-danger btn-sm mx-2 my-1" onclick="return confirm('You Want TO Delete /???')">Delete</button>
                    <a href="/VIEW/{{table.srno}}" type="button" class="btn btn-outline-primary btn-sm mx-2 my-1">Update</button>
                </td>
                
              </tr>

            {% endfor%}
             
           
              
            </tbody>
          </table>
    </div>
      
    </body>
{% endblock content%}

