<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
    {% if title%}
        <title>{{title}}</title>
    {%else%}
        <title>Not Define</title>
    {%endif%}
    </head>
  <body style="background: black; ">

  </div>
  

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="https://bit.ly/3vlMU3G" alt="" style="width: 65px; border-radius: 30px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/" style="font-size: large;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{{url_for('st')}}" style="font-size: large; ">Admission </a>
        </li>
      </ul>

      <form class="d-flex"action="{{url_for('Admin')}}" method="POST">
        <!-- <input class="form-control me-2" type="password" placeholder="Password" aria-label="Search" name="out"> -->
        {{form.hidden_tag()}}
        {{form.name(class='form-control me-2', placeholder='Password')}}
        <button class="btn btn-outline-success" type="submit">Submit</button>
      </form>
    </div>
  </div>
</nav>  
        {% for mess in get_flashed_messages() %}
          <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          <strong style="text-align: center; font-size: large; color: rgb(189, 63, 63);">{{mess}}</strong>
       </div>
        {%endfor%}


      <div class="container"> </div>
      {% block content %}
      {% endblock content%}
      <p></p>
       <h2 style="text-align: center; color: burlywood; font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Prema Group Tuition</h2>
      <div class="container">
        
        <img src="https://rb.gy/2jnyxw" alt="..." class="img-fluid rounded mx-auto d-block" style="width: 700px; border: 1px solid plum; border-radius: 70px;">       
      </div><p></p><hr>
      <h2></h2>
      <div class="container">
        
        <img src="https://rb.gy/ytmydg" alt="..." class="img-fluid rounded mx-auto d-block" style="width: 700px; border: 1px solid plum; border-radius: 70px;">       
      </div>
    
      <footer class="text-center text-white " style="background-color: #000000;">
        <!-- Grid container -->
        <div class="container p-4"></div>
        <!-- Grid container -->
      
        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
          © 2020 Copyright:
          <a class="text-white" href="https://mdbootstrap.com/">MDBootstrap.com</a>
        </div>
        <!-- Copyright -->
      </footer>

     

     

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

  </body>
</html>