

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>{{up.name}}</title>
  </head>
  <body style="background: black;">
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <a href="{{url_for('Admin_User_Data')}}" type="button"  class="btn btn-outline-success">  BACK </button></a>
      </form>
    </nav>
    
    
      
    <div>
      <table class="table table-bordered table-dark">
          <thead>
            <tr>
              <th scope="col">Srno</th>
              <th scope="col">NAME</th>
              <th scope="col">STD</th>
              <th scope="col">DATE</th>
              <th scope="col">ACTION</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">{{up.srno}}</th>
              <td>{{up.name}}</td>
              <td>{{up.std}}</td>
              <td>{{up.dat_}}</td>
              <td>
                <a href="/Up/{{up.srno}}" type="button"  class="btn btn-outline-success btn-sm mx-2 my-1">  View  </button>
                <a href="/del/{{up.srno}}" type="button" class="btn btn-outline-danger btn-sm mx-2 my-1" onclick="return confirm('You Want TO Delete /???')">Delete</button>
                  <a href="/VIEW/{{up.srno}}" type="button" class="btn btn-outline-primary btn-sm mx-2 my-1">Update</button>
              </td>
              
            </tr>
           
         
            
          </tbody>
        </table>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>


<!-- 

<div>
  <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col">Srno</th>
          <th scope="col">NAME</th>
          <th scope="col">STD</th>
          <th scope="col">DATE</th>
          <th scope="col">ACTION</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">{{up.srno}}</th>
          <td>{{up.name}}</td>
          <td>{{up.std}}</td>
          <td>{{up.dat_}}</td>
          <td>
            <a href="/Up/{{up.srno}}" type="button"  class="btn btn-outline-success btn-sm mx-2 my-1">  View  </button>
            <a href="/del/{{up.srno}}" type="button" class="btn btn-outline-danger btn-sm mx-2 my-1" onclick="return confirm('You Want TO Delete /???')">Delete</button>
              <a href="/VIEW/{{up.srno}}" type="button" class="btn btn-outline-primary btn-sm mx-2 my-1">Update</button>
          </td>
          
        </tr>
       
     
        
      </tbody>
    </table>
</div> -->